/* Темный фон для всего приложения */
.root {
    -fx-background: linear-gradient(to bottom, #2c2c2c, #1a1a1a); /* Градиент от #2c2c2c к #1a1a1a */
}

/* Стилизация кнопок с прозрачностью */
.button {
    -fx-background-color: rgba(68, 68, 68, 0.7); /* Темный фон с прозрачностью 70% */
    -fx-text-fill: #ffffff; /* Белый текст */
    -fx-font-size: 26px;
    -fx-background-radius: 13;
    -fx-border-color: #555555; /* Серые границы кнопок */
    -fx-border-radius: 10;
    -fx-padding: 8; /* Уменьшенные отступы */
    -fx-cursor: hand; /* Меняет курсор при наведении */
    -fx-transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Подсветка кнопки при наведении курсора */
.button:hover {
    -fx-background-color: white; /* Голубой фон при наведении */
    -fx-text-fill: #000000; /* Черный текст при наведении */
    -fx-opacity: 0.4; /* Убираем прозрачность при наведении */
}

.buttonOp {
-fx-background-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 26px;
    -fx-background-radius: 13;
    -fx-border-color: #555555;
    -fx-border-radius: 10;
    -fx-padding: 8; /* Уменьшенные отступы */
    -fx-cursor: hand; /* Меняет курсор при наведении */
    -fx-transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -fx-opacity: 0.85;
}

.buttonOp:hover {
    -fx-background-color: #fca623; /* Голубой фон при наведении */
    -fx-text-fill: white; /* Черный текст при наведении */
    -fx-opacity: 0.9; /* Убираем прозрачность при наведении */
}

/* Изменение стиля поля для ввода (TextField) */
.text-field {
    -fx-font-size: 24px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #333333;
    -fx-border-color: #666666;
    -fx-border-radius: 5;
    -fx-padding: 8;
}

/* Стилизация метки для отображения формулы */
.label {
    -fx-font-size: 18px;
    -fx-text-fill: #bbbbbb; /* Серый текст для формулы */
}